{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login/Register</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link href="https://img.icons8.com/external-flatart-icons-flat-flatarticons/64/000000/external-gallery-design-thinking-flatart-icons-flat-flatarticons.png" rel="icon">
</head>

<body>
    <p><br><br><br></p>
    <div class="container">
        <div class="login--wrapper">
            {% if page == 'login' %}
            <form method='post' class="form">
                <div><br><br></div>
                {% csrf_token %}
                <h1>Login</h1><br><br>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                </div> <br><br>
                <button type="submit" class="btn btn-primary">Submit</button><br><br>
                <p>Don't have an account? &ensp; <a href="{% url 'register' %}">Register</a></p>
            </form>
            {% else %}
            <form class="form" method='post'>
                <script>
                    alert("This is a Django app authentication system. \nMake sure your password has \n - Atleast one uppercase letter \n - Atleast one number \n - Atleast one symbol \nIf your password is not strong the webpage will not take your input and stays in the same register webpage.")
                </script>
                <br>
                <h1>Register</h1><br><br> {% csrf_token %} {% for field in form %}
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">{{field.label}}</label> {{field}}
                </div>
                {% endfor %}
                <br><br><button type="submit" class="btn btn-primary">Submit</button><br><br>
                <p>Already have an account? &ensp; <a href="{% url 'login' %}">Login</a></p>
            </form>
            {% endif %}
        </div>
    </div>
</body>

</html>
